.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffafcc;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 33px;
    color: #be0fa1a1;
    display: block;
    line-height: 3em;
  }
  
  .sidenav a:hover {
    color: #f323088a;
  }
  
  .main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .us{
      font-size: 15px;
      padding-left: 850px;
      color: rgb(185, 14, 162);
  }
 /* Подпись под изображением */
 .text {
  color: #f8d300;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  }
      /* Кнопки next & previous */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        }
        /* Измените положение "next button" */
        .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        }
        /* Добавьте черный фоновый цвет с небольшой прозрачностью */
        .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        }
       
        /* Number text (1/3 etc) */
        .numbertext {
        color: #1075af;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        }
        /* Точки/маркеры/указатели */
        .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #999999;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        }
        .active, .dot:hover {
        background-color: #111111;
        }
        /* Выцветание анимации */
        .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 0,1;
        }